body{
    background-color: rgb(207, 250, 236);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.text-area{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #fff;
    width: auto;
    border-radius: 30px;
    border:solid 1px #000;
}

#TasksInput ,#addTask{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
}

#taskList{
    
    margin-top: 10px;
    border-radius: 20px;
}
.task{
    display: flex;
    justify-content: space-between;
    border:solid 1px #000;
    border-radius: 25px;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
}

#addTask{
    background-color:green;
    color: #fff;
    transition: .9s;
    cursor: pointer;
    
}

#addTask:hover{
    background-color:#fff;
    color:green;
}

.li_list{
    list-style: none;
    flex: 7;
    margin: 5px;
    font-size: 20px;
    
}

.checkMark{
    cursor: pointer;
    flex: 1;
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    margin: 5px;
}
.checkMark:hover{
    color: #fff;
    background-color: rgb(253, 194, 86);
}
.deleteMark{
    cursor: pointer;
    flex: 1;
    text-align: center;
    background-color: rgb(252, 59, 59);
    border-radius: 10px;
    margin: 5px;
}

.deleteMark:hover{
    color: #fff;
    background-color:rgb(255, 88, 88);
}

.editMark{
    cursor: pointer;
    flex: 1;
    text-align: center;
    background-color: rgb(2, 247, 165);
    border-radius: 10px;
    margin: 5px;
}

.editMark:hover{
    color: #fff;
    background-color:rgb(103, 180, 155);
}


/* javascript Style */

.editInput{
    font-size: 12px;
    margin: 2px;
    width: auto;
    /* transition: .9s; */
}

.update{
    cursor: pointer;
    /* flex: ; */
    text-align: center;
    background-color: rgba(79, 91, 255, 0.808);
    border-radius: 5px;
    margin: 2px;
    border: 1px solid #000;
}

.update:hover{
    color: #fff;
    background-color:rgba(118, 126, 245, 0.808);
}